/* Start - Chia bo cuc cho page */
.main-side {
    width: 800px;
    background: rgb(216, 214, 216);
    float: left;
    margin: 0px 0px 100px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0px 0px 0px 5px;
    height: 550px;
}

.second-side {
    padding: 0px 0px 0px 5px;
    background: rgb(216, 214, 216);
    margin: 0px 30px 0px 850px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 550px;
}

/* End - Chia bo cuc cho page */

/* ===========================*/

/* Start - Buuton Đặt hàng */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f79009;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 430px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* End - Button Đặt hàng */

/* ===========================*/

/* Start - Thông tin tính tiền */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 430px;
    background-color: #f1f1f1;
    margin: 5px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* End - Thông tin tính tiền */
.table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
}


.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 30%;
	margin: 30px;
}

.glyphicon {
    width: 30%;
	margin: 30px;
    color: #95d7fc;
}

.minus {
    background: none;
}
/* ============================ */
/* Updated 26 Oct 2018 */

/* Start - Products View in Index */

.card {
    box-shadow: 0 4px 8px 0 #f79009;
    max-width: 25%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: rgb(252, 191, 191);
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #f79009;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /* End - Products View in Index */

  /* Start - Products Filtering */
  .container {
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

/* End - Products Filtering */