.main-side {
    width: 550px;
    background: #ff0;
    float: left;
    margin: 0px 0px 100px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0px 0px 0px 5px;
}

.second-side {
    padding: 0px 0px 0px 5px;
    background: #f0f;
    margin: 0px 20px 0px 600px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}