/* Start - Chia bo cuc cho page */
.main-side {
    width: 557px;
    background: #f1f1f1;
    float: left;
    margin: 0px 0px 100px 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0px 0px 0px 5px;
    height: 580px;
}

.second-side {
    padding: 3px 3px 3px 3px;
    background: #f1f1f1;
    margin: 0px 3px 0px 580px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 580px;
    
    
}

/* End - Chia bo cuc cho page */

/* ===========================*/

/* Start - Button Đặt hàng */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f79009;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 430px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* End - Button Đặt hàng */

/* ===========================*/

/* Start - Thông tin tính tiền */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 750px;
    background-color: #f1f1f1;
    margin: 5px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li {
  padding: 4px 8px;
  text-align: center;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li div.act {
  background-color: #4CAF50;
  color: white;
  display: block;
  font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* End - Thông tin tính tiền */
.table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
}


.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 30%;
	margin: 30px;
}

.glyphicon {
    width: 30%;
	margin: 30px;
    color: #95d7fc;
}

.minus {
    background: none;
}
/* ============================ */
/* Updated 26 Oct 2018 */

/* Start - Products View in Index */

.card {
    box-shadow: 0 4px 8px 0 #f79009;
    max-width: 25%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: rgb(252, 191, 191);
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #f79009;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /* End - Products View in Index */

  /* Start - Products Filtering */
  .container {
    overflow: hidden;
}

.filterDiv {
    float: left;

    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.home-recently-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 4px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
  }
}

td {
  border: #4CAF50 solid 1px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}