body{
	font-family: "Myriad Pro" ,"League Gothic","Cabin",Helvetica,Arial,sans-serif;
}

.container-fuild{
	background-image: url('images/bg9.jpg');
}


.header-top{
	background-color: #0E5D6B;
	.container{
		.row{
			img{
				
			}
			#slogan{
				
			}
		}
	}
}

.form-inline{
	margin-top: 8rem;
}

.main-content{
	//margin-top: 1rem;
	//margin-left: 2rem;
	.container{
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: #fff;

		.slideshow{
			//margin-top: 1rem;
			border: 1px solid #0E5D6B;

			img{
				max-height: 420px;
			}
			margin-bottom: 1rem;
		}

		.sanpham{
			margin-top: 3rem;
			.khungsp{
				width: 300px;
				height: 400px;
				img{
					//
					padding: 1px;
					width: 100%;
					height: 80%;
					&:hover{
						border: 2px solid #0E5D6B;
					}
				}
				a{
					text-decoration: none;
					color: #160404;
					font-style: italic;
				}
			}
		}

		.dichvu{
			margin-top: 4rem;
			.col-md-4{
				a{
					text-decoration: none;
					color: #160404;
					font-style: italic;
					padding-left: 3rem;
				}
				.khunganh{
					width: 300px;
					height: 400px;
					//
					&:hover{
						border: 2px solid #0E5D6B;
					}
					img{
						padding: 1px;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

.menu-sanpham{
	position: relative;
	display: inline-block;
	&:hover{
		.linksp{
			background-color: transparent;
		}
		.dropdown-menu{
			display: block;
		}
	}

	.linksp{
		background-color: transparent;	
		cursor: pointer;
	}

	.dropdown-menu{
		margin-left: -3rem;
		display: none;
		position: absolute;
		background-color: #fff;
		z-index: 1;
		a{
			color: #435EB7;
			text-align: center;
			&:hover{
				background-color: #0E5D6B;
				color: #ABA7A7;
			}
		}
	}
}

.menu-dichvu{
	position: relative;
	display: inline-block;
	&:hover{
		.linkdv{
			background-color: transparent;
		}
		.dropdown-menu{
			display: block;
		}
	}

	.linkdv{
		background-color: transparent;	
		cursor: pointer;
	}

	.dropdown-menu{
		margin-left: -5rem;
		display: none;
		position: absolute;
		background-color: #fff;
		z-index: 1;
		a{
			color: #435EB7;
			text-align: center;
			&:hover{
				background-color: #0E5D6B;
				color: #ABA7A7;
			}
		}
	}
}

.footer{
	background-color: #0E5D6B;
	.container{
		.row{
			color: #D8DBDA;
			#gioithieu{
				margin-top: 2rem;
			}
			#cuahang{
				margin-top: 2rem;
				text-align: center;
				p{
					font-size: 20px;
					font-weight: bold;
				}
				img{
					max-width: 150px;
					max-height: 150px;
				}
			}
			#lienhe{
				margin-top: 2rem;
			}
		}
	}
}